body {
  font-family: 'Karla', sans-serif;
  font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
  }
  .banner{
    width: 100%;
  }
  .bts-banner{
    width: 100%;
    object-fit: cover;
    height: 250px;
  }

  .file-upload {
    background-color: #ffffff;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 15% 3%;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
      width: 80%;
      margin: auto;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
 
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
      object-fit: contain;
      border-radius: 10px;
      border: solid 2px #35465d;
      background-color: #ffffff;
      width: 50%;
      margin: auto
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    border: 2px dashed #35465d;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    padding: 0 0 60px 0;
      font-size: 1.5rem;
  }
  
  .file-upload-image {
    max-height: 60%;
    max-width: 60%;
    margin: auto;
    padding: 20px;
  
  }
  
  .remove-image {
    width: 40%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
      font-size: 0.8rem;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .nav-distance{
      padding: 2.1% 7.7%l;
  }
  
  .navbar-light .navbar-brand{
      line-height: 1.68;
      text-align: left;
      color: #35465d;
  }
  
  .navbar-light .navbar-toggler{
      border-color: #ffffff;
  }
  
  .section{
      margin-top: 3%;
  }
  
  .title{
      line-height: 1.67;
      text-align:center;
      color:#35465d;
  }
  
  .subtitle{
      line-height: 1.53;
      text-align:center;
      color:#35465d;
      padding-bottom: 50px;
  }
  
  .probability-label{
      padding: 0 0 15px 0;
  }
  
  #disqus_thread{
      width: 80%;
      margin: auto;
      padding-top: 50px;
  }
  
  @media screen and (max-width: 600px) {
      html{
          font-size: 10px;
      }
      .navbar-brand{
          font-size: 2rem;
      }
  }

.bts-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}

.bar-container {
  height: 2.7rem;
}
.Jin-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 48, 211, 0.2);
}
.Jin-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 48, 211, 1);
}
.RM-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(000, 000, 000, 0.2);
}
.RM-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(000, 000, 000, 1);
}
.jungkook-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(255, 48, 48, 0.2);
}
.jungkook-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 48, 48, 1);
}
.Jimin-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(48, 139, 255, 0.2);
}
.Jimin-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(48, 139, 255, 1);
}
.V-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(130, 48, 255, 0.2);
}
.V-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(130, 48, 255, 1);
}
.Suga-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(49, 132, 155, 0.2);
}
.Suga-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}
.Hope-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(48, 255, 148, 0.2);
}
.Hope-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(48, 255, 148, 1);
}

.percent-text {
  font-size: 1rem;
  color: #ffffff;
}

#label-container {
  width: 80%;
  margin: 0 auto;
}
.result-message {
  font-size: 2rem;
}